.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
dist
dist-ssr
node_modules
.eslintcache
.astro
/packages/vite-plugin-critical-script/README.md
/packages/vite-plugin-critical-script/LICENSE
